name: build

on:
  push:
    branches:
      - main

jobs:
  build_package:
    uses: bitcompat/base/.github/workflows/build.yaml@main
    with:
      name: main
      build-args: |
        RUN_TESTS=1
      image_tag: |
        latest
        0.16-20220414-bullseye-r1
        0.16-bullseye-r1
        0.16-bullseye
        0.16
    secrets: inherit
