name: build

on:
  push:
    branches:
      - main

jobs:
  build_package:
    uses: bitcompat/base/.github/workflows/build.yaml@main
    with:
      name: main
      build-args: |
        RUN_TESTS=1
      version: 0.16-20220414 # renovate: datasource=github-tags depName=json-c/json-c
      latest: true
      major_only_tag: true
    secrets: inherit
